body {
    background-color: azure;
    color: black;
}

@media (min-width: 320px) and (max-width: 480px) {


    .box {

        width: 100%;
        height: 100%;
        padding: 0px;
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    /* Styles for the child divs */
    .box-left {
        padding: 30px;
        flex: 1;
    }

    .login-form,
    .signup-form {

        text-align: center
    }

    .box-right {
        flex: 1;
        padding: 30px;
        flex: 1;
    }

    h1 {
        text-align: center;
    }

    .username_error {
        font-size: large;
        color: white;
    }

    .btn-delete {
        border: 2px;
        background: red;
        color: black;
        padding: 2px;
    }

    .btn-update {
        border: 2px;
        background: #005dc7;
        color: white;
        padding: 2px;
    }

}

@media (min-width: 481px) and (max-width: 768px) {


    .box {

        align-content: center;
        width: 100%;
        height: 100%;
        padding: 0px;
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .box-left {
        padding: 30px;
        flex: 1;
        width: 60%;
        margin-left: 60px;
        border-width: 2px;
        border-style: groove;

    }

    .login-form,
    .signup-form {

        text-align: center
    }

    .box-right {
        flex: 1;
        width: 60%;

        padding: 30px;
        flex: 1;
        margin-left: 60px;

    }

    h1 {
        text-align: center;
    }

    .username_error {
        font-size: large;
        color: white;
    }

    .btn-delete {
        border: 2px;
        background: red;
        color: black;
        padding: 2px;
    }

    .btn-update {
        border: 2px;
        background: #005dc7;
        color: white;
        padding: 2px;
    }

}

@media (min-width: 769px) {

    .box {
        margin: 50px 100px;
        height: 70vh;
        padding: 0px;
        display: flex;
        gap: 20px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

    }

    .box-left {
        margin-top: 70px;
        width: 20%;
        padding: 20px;
        background-color: #ffff;
        flex: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .box-right {

        flex: 1;
        text-align: center;


    }

    .account-form {
        margin: 50px;
    }

    input[type="file"] {
        width: 70%;
        outline: 2px solid;
    }

    input[type="text"] {
        width: 70%;
        outline: 2px solid;
    }


    .btn-upload {
        margin-top: 5px;
        padding: 5px 0px 5px 0px;
        height: fit-content;
        background: #005dc7;
        color: white;
        width: 50%;
        border-radius: 15px;


    }

    s h1 {
        text-align: center;
    }

    .btn-delete {
        border: 2px;
        background: red;
        color: black;
        padding: 2px;
    }

    .btn-update {
        border: 2px;
        background: #005dc7;
        color: white;
        padding: 2px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 10px;
    }


}