/* Example of adjusting styles for different screen sizes */

/* Styles for small screens (e.g., smartphones) */
body {
    background-color: azure;
    color: black;
}


@media (max-width: 330px) {

    /* CSS for even smaller screens (e.g., smartphones) */
    .containor {
        display: flex;
        padding: 0%;
        width: 100%;

    }

    .box {
        margin-top: 50%;
        padding: 20px;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    }

    input[type="file"] {
        outline: 2px solid;
        width: 100%;
        font-size: small;

    }

    input[type="text"] {
        outline: 2px solid;
        width: 100%;
        font-size: small;
    }

    .btn_update {
        background: #005dc7;
        color: white;
        width: 50%;
        border-radius: 15px;
        font-size: small;

    }

}

@media (max-width: 730px) and (min-width: 330px) {

    /* CSS for even smaller screens (e.g., smartphones) */
    .containor {
        display: flex;
        padding: 0%;
        width: 100%;

    }

    .box {
        margin-top: 30%;
        padding: 20px;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    }

    input[type="file"] {
        outline: 2px solid;
        width: 100%;
        font-size: small;

    }

    input[type="text"] {
        outline: 2px solid;
        width: 100%;
        font-size: small;
    }

    .btn_update {
        background: #005dc7;
        color: white;
        width: 50%;
        border-radius: 15px;
        font-size: small;

    }

}

@media (min-width: 730px) {

    /* CSS for even smaller screens (e.g., smartphones) */
    .containor {
        display: flex;
        padding: 0%;
        width: 100%;

    }

    .box {
        margin: 15% 30%;
        padding: 20px;
        width: 50%;
        height: 50vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    }

    input[type="file"] {
        outline: 2px solid;
        width: 100%;
        font-size: small;

    }

    input[type="text"] {
        outline: 2px solid;
        width: 100%;
        font-size: small;
    }

    .btn_update {
        background: #005dc7;
        color: white;
        width: 50%;
        border-radius: 15px;
        font-size: small;

    }

}